services:

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - ./config/npm:/data
      - ./config/letsencrypt:/etc/letsencrypt
    networks:
      dns:
        ipv4_address: 172.30.0.5

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 3000:3000
    volumes:
      #- grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      dns:
        ipv4_address: 172.30.0.6
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    env_file:
      - .env
    #ports:
    #  - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--storage.tsdb.path=/prometheus"
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      dns:
        ipv4_address: 172.30.0.7
    depends_on:
      - cadvisor
      - node-exporter
      #- influxdb

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-explorer
    restart: unless-stopped
    #ports:
    #  - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/host
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)
    networks:
      dns:
        ipv4_address: 172.30.0.8

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    #ports:
    #  - "8080:8080"
    command:
      - "-housekeeping_interval=15s"
      - "-docker_only=true"
      - "-store_container_labels=false"
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /etc/machine-id:/etc/machine-id:ro
    networks:
      dns:
        ipv4_address: 172.30.0.9

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    restart: unless-stopped
    env_file:
       - .env
    ports:
      - "${WG_PORT}:${WG_PORT}/udp"
    #  - "${PORT}:${PORT}/tcp"
    volumes:
      - ./config/wireguard:/etc/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      dns:
        ipv4_address: 172.30.0.4

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped
    env_file:
      - .env
    environment:
      PIHOLE_DNS_: 172.30.0.2
      DNSSEC: true
      DNSMASQ_LISTENING: single
    extra_hosts:
      - 'pihole pihole.local:${FTLCONF_LOCAL_IPV4}'
      - 'grafana grafana.local:${FTLCONF_LOCAL_IPV4}'
      - 'prometheus prometheus.local:${FTLCONF_LOCAL_IPV4}'
      - 'wireguard wg.local:${FTLCONF_LOCAL_IPV4}'
      - 'homeassistant homeassistant.local:${FTLCONF_LOCAL_IPV4}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
     # - "8053:80/tcp"
     # - "443:443/tcp"
    volumes:
      - pihole_data:/etc
    networks:
      dns:
        ipv4_address: 172.30.0.3
    dns:
      - 172.30.0.2
      - 1.1.1.1
    labels:
      - "com.centurylinklabs.watchtower.monitor-only=true"
    depends_on:
      - unbound

  unbound:
    image: mvance/unbound-rpi:latest
    container_name: unbound
    restart: unless-stopped
    # ports:
    #   - "5335:53/udp" #testing unbound only
    volumes:
      - ./unbound/forward-records.conf:/opt/unbound/etc/unbound/forward-records.conf
    networks:
      dns:
        ipv4_address: 172.30.0.2

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    env_file:
      - .env
    #ports:
    #  - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      dns:
        ipv4_address: 172.30.0.10

  home-assistant:
    container_name: home-assistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
      - ./config/home-assistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    privileged: true
    network_mode: host
    depends_on:
        grafana:
            condition: service_started
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: "512M"

  ## optional
  # chronograf:
  #  image: chronograf:latest
  #  container_name: chronograf
  #  ports:
  #    - "8889:8888"
  #  depends_on:
  #    - influxdb

  # influxdb:
  # image: arm32v7/influxdb:latest
  # container_name: influxdb
  # restart: unless-stopped
  # ports:
  #   - "8086:8086"
  # env_file:
  #   - .env
  # volumes:
  #   - influxdb_data:/var/lib/influxdb
  # healthcheck:
  #   test: ["CMD", "curl", "-f", "http://influxdb:8086/ping"]
  #   interval: 30s
  #   timeout: 10s
  #   retries: 5

volumes:
  prometheus_data:
  #grafana_data:
  #influxdb_data:
  pihole_data:
networks:
  dns:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24
